#queue_list > .label { clear: left; text-align: center; }
#queue_list > .item  { clear: left; }

#queue_list > .prompt {
	clear: left;
	width: 622px;
	text-align: center;
	border: 1px solid black;
	padding: 3px 0px;
}

#queue_list > .prompt > .step2,
#queue_list > .prompt > .step3,
#queue_list > .prompt > .step4,
#queue_list > .prompt > .step5 { display: none; }

#queue_list > .label > div { background: #eee; }

#queue_list > .label > div,
#queue_list > .item > div {
	padding: 0px 10px;
	float: left;
	height: 25px;
	line-height: 25px;
	border: 1px solid black;
	border-width: 1px 0px 0px 1px;
}

#queue_list > .label > div:nth-child(1),
#queue_list > .item > div:nth-child(1) { width: 230px; }

#queue_list > .label > div:nth-child(2),
#queue_list > .item > div:nth-child(2) { width: 100px; }

#queue_list > .label > div:nth-child(3),
#queue_list > .item > div:nth-child(3) {
	width: 230px;
	border-right-width: 1px;
}

#queue_list > .item:last-child > div { border-bottom-width: 1px; }
#queue_list > .item > div:nth-child(2) { text-align: right; }
#queue_list > .item > div:nth-child(3) { text-align: center; }

#progress_bar { width: 150px; height: 18px; /* vertical-align: 0; */}

#hidden_elements { display: none; }

.step1, .step2, .step3, .step4, .step5 {
	width: 90%;
	margin: 10px auto;
}

#drop_area {
	background: #dff;
	border: 2px dotted #77f;
	border-radius: 10px;
	padding: 10px;
	line-height: 25px;
}

#drop_area.add_files {
	background: #ffd !important;
}

.good { color: #00f; }
.error { color: #f00; }
.ignore { color: #777; }